.App {
  display: flex;
  justify-content: center;
}

.App .container {
  width: 600px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 16px;
}

.App .container .pageContainer {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 16px;
}
